<head>
    <title>Habaku || Produk</title>
</head>

<!--Navbar-->
<div class="fixed w-full z-50">
    <header id="navbar" class="2xl:container mx-auto">
        <nav class="flex justify-between items-center">
            <a class="block overflow-hidden" href="index.html">
                <img class="h-40 lg:h-56 w-74 lg:w-100 object-cover" src="~/assets/images/habaku/habaku-logo.png" />
            </a>
            <div>
                <button id="toggle-menu-button" class="z-50 lg:hidden relative">
                    <!--Toggle Menu-->
                    <div id="open" class="flex flex-col items-end justify-between">
                        <span class="block text-blue-400 text-mh-head3">
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
                    <div id="close" class="hidden fixed top-6 right-8 flex flex-col items-end justify-between">
                        <span class="block text-greyscale-80 text-mh-head3">
                            <i class="bi bi-x"></i>
                        </span>
                    </div>
                </button>
                <div id="toggle-menu"
                     class="container hidden lg:block bg-green-100 lg:bg-transparent pt-85 lg:pt-0 font-medium text-greyscale-80 text-mb-large lg:text-db-large right-0 top-0 text-left fixed h-full w-3/4 flex flex-col lg:relative lg:w-auto lg:h-auto">
                    <ul class="flex flex-col lg:flex-row gap-x-6 gap-y-6 items-center">
                        <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Index">Beranda</a>
                        </li>
                        <li class="text-blue-400 font-bold rounded-full border border-blue-400 px-4 py-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Produk">Produk</a>
                        </li>
                        <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                           <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Artikel">Artikel</a>
                        </li>
                        <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="TentangKami">Tentang Kami</a>
                        </li>
                        <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="HubungiKami">Hubungi Kami</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>

<!--Section Habaku's Solution-->
<section>
    <div class="relative h-full">
        <div class="bg-green-100 absolute top-0 w-full h-full"></div>
        <div class="2xl:container mx-auto">
            <div class="relative px-4 md:px-200 pt-80 lg:pt-140 pb-6 lg:pb-40">
                <h1 class="font-bold text-mh-head3 text-center">
                    Habaku’s Solution
                </h1>
                <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-40 pt-8">
                    <div class="flex lg:grid gap-4">
                        <img src="~/assets/images/habaku/produk-aplikasi-mudah-illustration.png"
                             class="m-auto w-72 lg:w-fit h-72 lg:h-fit" />
                        <div class="text-left lg:text-center">
                            <h1 class="font-bold text-mh-head6 lg:text-dh-head6 pb-2">Aplikasi Mudah Diakses</h1>
                            <p class="text-mb-small lg:text-db-small text-greyscale-80">
                                Mengutamakan kemudahan pengguna dalam melakukan pembelian produk dengan alur yang
                                mudah dimengerti dan ringkas.
                            </p>
                        </div>
                    </div>
                    <div class="flex lg:grid gap-4">
                        <img src="~/assets/images/habaku/produk-kualitas-illustration.png"
                             class="m-auto w-72 lg:w-fit h-72 lg:h-fit" />
                        <div class="text-left lg:text-center">
                            <h1 class="font-bold text-mh-head6 lg:text-dh-head6 pb-2">
                                Menyediakan Produk Berkualitas
                            </h1>
                            <p class="text-mb-small lg:text-db-small text-greyscale-80">
                                Bekerja sama dengan distributor terpercaya untuk memberikan produk berkualitas bagi
                                para mitra usaha Habaku.
                            </p>
                        </div>
                    </div>
                    <div class="flex lg:grid gap-4">
                        <img src="~/assets/images/habaku/produk-harga-terbaik-illustration.png"
                             class="m-auto w-72 lg:w-fit h-72 lg:h-fit" />
                        <div class="text-left lg:text-center">
                            <h1 class="font-bold text-mh-head6 lg:text-dh-head6 pb-2">Penawaran Harga Terbaik</h1>
                            <p class="text-mb-small lg:text-db-small text-greyscale-80">
                                Menawarkan harga terbaik dengan berbagai promo dan potongan serta proses pembayaran
                                yang mudah dan aman.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section Habaku's Ecosystem-->
<section class="container mx-auto bg-greyscale-0">
    <div class="px-4 lg:px-200 py-6 lg:py-40 text-center">
        <h1 class="font-bold text-mh-head3">
            Habaku’s Ecosystem
        </h1>
        <p class="text-mb-small lg:text-db-small text-greyscale-80 w-full lg:w-3/4 mx-auto pt-2 lg:pt-4">
            Habaku membangun pasar digital yang terintegrasi dengan mempertemukan pemasok/prinsipal dengan pengecer
            untuk melakukan transaksi jual beli produk-produk berkualitas dengan berfokus pada 2 prinsip utama:
        </p>
        <div class="pt-4 lg:pt-8 grid lg:flex gap-4 lg:gap-40">
            <img src="~/assets/images/habaku/produk-bi-directional-illustration.png" class="w-250 xl:w-fit h-220 xl:h-fit m-auto" />
            <div class="my-auto">
                <h1 class="font-bold text-mh-head6 lg:text-dh-head5 text-blue-400">
                    Bi-Directional
                </h1>
                <p class="text-greyscale-80 text-mb-small lg:text-db-small pt-1">
                    Menjual produk tier 1 - 2 kepada konsumen tier 3 - 4 dan sebaliknya.
                </p>
            </div>
        </div>
        <div class="pt-4 lg:pt-8 grid lg:flex gap-4 lg:gap-40">
            <div class="my-auto">
                <h1 class="font-bold text-mh-head6 lg:text-dh-head5 text-blue-400">
                    Multi-Categories
                </h1>
                <p class="text-greyscale-80 text-mb-small lg:text-db-small pt-1">
                    Menjual berbagai jenis produk, seperti produk kecantikan, mom & baby care serta produk kesehatan
                    yang berkualitas.
                </p>
            </div>
            <img src="~/assets/images/habaku/produk-multi-categories-illustration.png"
                 class="order-first lg:order-last w-215 xl:w-fit h-220 xl:h-fit m-auto" />
        </div>
    </div>
</section>

<!--Section Metode Pembayaran-->
<section class="container mx-auto bg-greyscale-0">
    <div class="px-0 lg:px-200 py-6 lg:py-40 bg-green-100 lg:bg-transparent">
        <h1 class="font-bold text-mh-head3 text-center">
            Metode Pembayaran
        </h1>
        <div class="flex flex-col lg:flex-row justify-between gap-0 lg:gap-6 pt-0 lg:pt-8">
            <div class="grid justify-between w-full p-4 text-center rounded-0 lg:rounded-lg bg-transparent lg:bg-green-100">
                <h1 class="order-2 lg:order-1 pb-2 lg:pb-0 font-bold text-mh-head6 lg:text-dh-head5 text-green-400">
                    Cash on Delivery
                </h1>
                <img src="~/assets/images/habaku/produk-pembayaran-cod-illustration.png"
                     class="order-1 lg:order-2 w-fit h-fit mx-auto" />
                <p class="order-3 text-db-small text-greyscale-80 pb-0 lg:pb-6">
                    Pembayaran dilakukan secara tunai saat barang sudah sampai ke tempat kamu.
                </p>
            </div>
            <div class="m-auto">
                <p class="text-blue-400 text-dh-head5 hidden lg:block">Atau</p>
            </div>
            <div class="grid justify-between w-full p-4 text-center rounded-0 lg:rounded-lg bg-transparent lg:bg-green-100">
                <h1 class="order-2 lg:order-1 pb-2 lg:pb-0 font-bold text-mh-head6 lg:text-dh-head5 text-green-400">
                    Prepaid Payment
                </h1>
                <img src="~/assets/images/habaku/produk-pembayaran-prepaid-illustration.png"
                     class="order-1 lg:order-2 w-fit h-fit mx-auto" />
                <p class="order-3 text-db-small text-greyscale-80 pb-0 lg:pb-6">
                    Pembayaran yang dilakukan sebelum barang diterima oleh pembeli. Barang akan segera diantar
                    ketika pembayaran melalui bank (virtual account) sudah terkonfirmasi.
                </p>
            </div>
        </div>
    </div>
</section>

<!--Section Promo Spesial-->
<section class="container mx-auto bg-greyscale-0 bg-none lg:bg-bgHabakuLogoPromo bg-contain bg-center bg-no-repeat">
    <div class="px-4 lg:px-200 pt-6 lg:pt-80 pb-6 lg:pb-70 text-center grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-48">
        <div class="bg-bgHabakuLogoPromo lg:bg-none bg-contain bg-no-repeat">
            <img src="~/assets/images/habaku/produk-promo-illustration.png" class="w-full h-full" />
        </div>
        <div class="grid gap-2 lg:gap-4 m-auto">
            <h1 class="font-bold text-mh-head3 lg:text-dh-head4 text-blue-400">
                Promo Spesial Buat Kamu!
            </h1>
            <p class="text-db-small text-greyscale-80">
                Belanja kebutuhan usaha melalui HABAKU dan dapatkan promo khusus yang sudah menanti kamu!
            </p>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.dataprods.scs">
                <div class="justify-center items-center text-mb-small lg:text-db-large bg-blue-400 rounded-full py-3 lg:py-10 text-greyscale-0 flex space-x-2">
                    <p>Cek Promo </p>
                    <i class='fas fa-arrow-right'></i>
                </div>
            </a>
        </div>
    </div>
</section>

<!--Section Download Aplikasi Habaku-->
<section class="bg-green-200">
    <div class="container mx-auto grid grid-cols-2">
        <div class="flex flex-col gap-y-2 text-left pl-4 lg:pl-200 py-4 lg:py-40 my-auto">
            <h1 class="text-mb-small lg:text-dh-head5 font-bold">
                Download Aplikasi Habaku Sekarang!
            </h1>
            <p class="text-mc-large lg:text-db-small">
                Dapatkan voucher spesial untuk pengguna pertama, dan promo
                menarik lainnya!
            </p>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.dataprods.scs">
                <img src="~/assets/images/habaku/google-play-badge.png" class="w-100 h-38 lg:w-max lg:h-max" />
            </a>
        </div>
        <img src="~/assets/images/habaku/phone-barcode-desk-illustration.png" class="w-max h-max mx-auto hidden lg:block" />
        <img src="~/assets/images/habaku/phone-barcode-mob-illustration.png" class="w-max h-max mx-auto block lg:hidden" />
    </div>
</section>