<head>
    <title>Habaku || Tentang Kami</title>
</head>

<!--Navbar-->
<div class="fixed w-full z-50">
    <header id="navbar" class="2xl:container mx-auto">
        <nav class="nav-desk flex justify-between items-center">
            <a class="block overflow-hidden" href="index.html">
                <img class="h-40 lg:h-56 w-74 lg:w-100 object-cover" src="~/assets/images/habaku/habaku-logo.png" />
            </a>
            <div>
                <button id="toggle-menu-button" class="z-50 lg:hidden relative">
                    <!--Toggle Menu-->
                    <div id="open" class="flex flex-col items-end justify-between">
                        <span class="block text-blue-400 text-mh-head3">
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
                    <div id="close" class="hidden fixed top-6 right-8 flex flex-col items-end justify-between">
                        <span class="block text-greyscale-80 text-mh-head3">
                            <i class="bi bi-x"></i>
                        </span>
                    </div>
                </button>
                <div id="toggle-menu"
                     class="container hidden bg-green-100 lg:bg-transparent lg:block pt-85 lg:pt-0 font-medium text-greyscale-80 text-mb-large lg:text-db-large right-0 top-0 text-left fixed h-full w-3/4 flex flex-col lg:relative lg:w-auto lg:h-auto">
                    <ul class="flex flex-col lg:flex-row gap-x-6 gap-y-6 items-center">
                        <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Index">Beranda</a>
                        </li>
                        <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Produk">Produk</a>
                        </li>
                        <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                           <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Artikel">Artikel</a>
                        </li>
                        <li class="text-blue-400 font-bold rounded-full border border-blue-400 px-4 py-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="TentangKami">Tentang Kami</a>
                        </li>
                        <li class="hover:text-blue-400 hover:font-bold hover:rounded-full hover:border hover:border-blue-400 hover:px-4 hover:py-2">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="HubungiKami">Hubungi Kami</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>

<!--Header Banner-->
<main>
    <div class="relative h-full">
        <div class="bg-greyscale-0 absolute top-0 w-full h-full"></div>
        <div class="2xl:container mx-auto">
            <div class="relative px-4 lg:px-200 pt-80 lg:pt-140 py-6 lg:pb-40">
                <img src="~/assets/images/habaku/tk-hero-illustration.png" class="w-3/5 h-1/2 mx-auto" />
                <div class="container mx-auto text-center pt-4 lg:pt-72">
                    <h1 class="font-bold text-mh-head5 lg:text-dh-head4">
                        Tentang Habaku
                    </h1>
                    <p class="pt-1 lg:pt-4 w-3/4 mx-auto text-mb-small lg:text-db-small text-greyscale-80">
                        Habaku merupakan aplikasi digital B2B yang memfasilitasi proses distribusi produk kecantikan
                        dan kesehatan dari pemasok ke pemilik toko/pengecer agar transaksi berlangsung secara cepat
                        dan aman.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Section Visi Misi-->
<section class="bg-greyscale-0">
    <div class="container mx-auto px-4 lg:px-200 py-6 lg:py-40 grid gap-4">
        <div class="relative rounded-xl bg-tk-blue">
            <div class="absolute top-10 left-10"><img src="~/assets/images/habaku/tk-quots-up-illustration.png" /></div>
            <div class="absolute bottom-10 lg:bottom-0 left-0 lg:left-auto right-auto lg:right-0">
                <img src="~/assets/images/habaku/tk-habaku-logo.png" class="w-210 lg:w-fit h-105 lg:h-fit" />
            </div>
            <div class="absolute bottom-10 right-10"><img src="~/assets/images/habaku/tk-quots-down-illustration.png" /></div>
            <div class="flex space-x-4 py-6 px-4 lg:px-8 items-center text-center">
                <img src="~/assets/images/habaku/kim-artcher-1-cycles-1.png" class="z-10 w-fit h-fit" />
                <div>
                    <h1 class="font-bold text-mh-head5 lg:text-mh-head3 text-blue-400">Visi</h1>
                    <p class="text-mb-small lg:text-db-large text-greyscale-80 lg:text-greyscale-100">
                        Digitalisasi
                        rantai pasok dengan menggabungkan ekosistem kanal produk kesehatan dan kecantikan O2O
                        (offline-to offline).
                    </p>
                </div>
            </div>
        </div>
        <div class="relative rounded-xl bg-tk-green">
            <div class="absolute top-10 left-10"><img src="~/assets/images/habaku/tk-quots-up-illustration.png" /></div>
            <div class="absolute bottom-10 lg:bottom-0 left-0">
                <img src="~/assets/images/habaku/tk-habaku-logo.png"
                     class="w-210 lg:w-fit h-105 lg:h-fit" />
            </div>
            <div class="absolute bottom-10 right-10"><img src="~/assets/images/habaku/tk-quots-down-illustration.png" /></div>
            <div class="flex space-x-4 py-6 px-4 lg:px-8 items-center text-center">
                <div>
                    <h1 class="font-bold text-mh-head5 lg:text-mh-head3 text-blue-400">Misi</h1>
                    <p class="text-mb-small lg:text-db-large text-greyscale-80 lg:text-greyscale-100">
                        Memberdayakan
                        retailer offline melalui penggunaan platform teknologi yang lebih cerdas.
                    </p>
                </div>
                <img src="~/assets/images/habaku/Arrow-target-corner-1.png" class="z-10 w-fit h-fit" />
            </div>
        </div>
    </div>
</section>

<!--Section Slogan-->
<section class="bg-green-200 px-4 md:px-200 py-40">
    <h1 class="font-bold text-mh-head7 lg:text-dh-head4 items-center text-center">
        “ Solusi Tepat Belanja Hemat dan
        Cepat “
    </h1>
</section>