################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMS Dashboard/CMS Dashboard v1/wwwroot/cover/img
