<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/output-style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="~/js/alpine.js"></script>
    <script src="~/js/alpine2.js"></script>
</head>

<body class="font-lato">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- loader END -->
    <!--Render Body-->
    @RenderBody()

    <!--Footer-->
    <footer class="bg-green-100">
        <div class="2xl:container mx-auto">
            <div class="py-8 px-8 lg:px-72 lg:py-40">
                <img src="~/assets/images/habaku/habaku-logo.png" class="w-85 h-52" />
                <div class="flex flex-col lg:flex-row gap-6 lg:gap-14 2xl:gap-160 pt-6 text-greyscale-100">
                    <div>
                        <h1 class="font-bold pb-1 lg:pb-2 text-mh-head6 lg:text-dh-head6">
                            Perusahaan
                        </h1>
                        <div class="grid gap-1 lg:gap-2 text-mb-small lg:text-db-small text-green-400 font-semibold">
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="TentangKami">Tentang</a>
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Produk">Produk</a>
                            <a asp-area="LandingPage" asp-controller="Habaku" asp-action="Artikel">Artikel</a>
                        </div>
                    </div>

                    <div class="lg:w-416">
                        <h1 class="font-bold pb-1 lg:pb-2 text-mh-head6 lg:text-dh-head6">
                            Hubungi Kami
                        </h1>
                        <div class="grid gap-1 lg:gap-2 text-mb-small lg:text-db-small text-green-400 font-semibold">
                            <p class="text-mb-small lg:text-db-small text-greyscale-80 font-normal">
                                PT. SANO SOLUSI BERDIKARI<br />
                                Menara Palma, Lantai 17<br />
                                Jalan H.R. Rasuna Said Kavling VI
                                Nomor 9 Kuningan Timur, Setiabudi, Jakarta Selatan, DKI Jakarta (12950).
                            </p>
                            <a href="mailto:sma.habaku@gmail.com" target="_blank">sma.habaku@gmail.com</a>
                            <a href="https://wa.link/5o1zcu" target="_blank">whatsapp</a>
                        </div>
                        @*<div class="grid gap-1 lg:gap-2 text-mb-small lg:text-db-small text-green-400 font-semibold">
                        <a asp-area="LandingPage" asp-controller="Habaku" asp-action="HubungiKami">Kontak</a>
                        <a asp-area="LandingPage" asp-controller="Habaku" asp-action="HubungiKami">Lokasi</a>
                        </div>*@
                    </div>

                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-14 2xl:gap-180 text-greyscale-100">
                        <div class="text-left w-full">
                            <h1 class="font-bold pb-1 lg:pb-2 text-mh-head6 lg:text-dh-head6">
                                Temukan Habaku di:
                            </h1>
                            <div class="rounded-full w-fit py-1 px-2 bg-green-400 text-green-100">
                                <a href="https://www.instagram.com/habakuapp/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>

                        <div class="text-left w-full">
                            <h1 class="font-bold pb-1 lg:pb-2 text-mh-head6 lg:text-dh-head6">
                                Unduh Aplikasi
                            </h1>
                            <a href="https://play.google.com/store/apps/details?id=com.dataprods.scs" target="_blank">
                                <div class="border border-green-400 flex space-x-1 py-2 pl-2 pr-3 rounded text-green-400 items-center w-fit">
                                    <i class="fab fa-google-play"></i>
                                    <p class="text-db-small font-semibold">Google Play</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-left lg:text-center text-greyscale-80 px-4 py-4">
                © 2023 Habaku | B2B Marketplace for Health & Beauty Products
            </p>
        </div>
    </footer>

</body>
<!--Script for Responsive Navbar-->
<script>
    var button = document.querySelector('#toggle-menu-button');
    var menu = document.querySelector('#toggle-menu');
    var open = document.querySelector('#open');
    var close = document.querySelector('#close');

    button.addEventListener('click', (e) => {
        menu.classList.toggle('hidden');
        open.classList.toggle('hidden');
        close.classList.toggle('hidden');
    });
</script>

<!-- Script for Review Carousel-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel-rev').slick({
            dots: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3,
            arrows: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>

<script src="https://unpkg.com/taos@1.0.2/dist/taos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

<!--Script for Change Navbar When Scroll-->
<script>
    window.onscroll = () => {
        const nav = document.querySelector('#navbar');
        if (this.scrollY <= 10) nav.className = ''; else nav.className = 'scroll';
    };
</script>

<!--Script for Articles Pagination-->
<script>
    var sourceData = [
        {
            id: "1",
            image: "/assets/images/habaku/img-artikel-1.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel.html",
        },
        {
            id: "2",
            image: "/assets/images/habaku/img-artikel-2.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-2.html",
        },
        {
            id: "3",
            image: "/assets/images/habaku/img-artikel-3.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-3.html",
        },
        {
            id: "4",
            image: "/assets/images/habaku/img-artikel-4.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-4.html",
        },
        {
            id: "5",
            image: "/assets/images/habaku/img-artikel-5.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-5.html",
        },
        {
            id: "6",
            image: "/assets/images/habaku/img-artikel-6.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-6.html",
        },
        {
            id: "7",
            image: "/assets/images/habaku/img-artikel-7.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-7.html",
        },
        {
            id: "8",
            image: "/assets/images/habaku/img-artikel-8.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-8.html",
        },
        {
            id: "9",
            image: "/assets/images/habaku/img-artikel-9.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-9.html",
        },
        {
            id: "10",
            image: "/assets/images/habaku/img-artikel-10.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-10.html",
        },
        {
            id: "11",
            image: "/assets/images/habaku/img-artikel-11.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-11.html",
        },
        {
            id: "12",
            image: "/assets/images/habaku/img-artikel-12.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-12.html",
        },
        {
            id: "13",
            image: "/assets/images/habaku/img-artikel-13.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-13.html",
        },
        {
            id: "14",
            image: "/assets/images/habaku/img-artikel-14.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-14.html",
        },
        {
            id: "15",
            image: "/assets/images/habaku/img-artikel-15.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-15.html",
        },
        {
            id: "16",
            image: "/assets/images/habaku/img-artikel-16.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-16.html",
        },
        {
            id: "17",
            image: "/assets/images/habaku/img-artikel-17.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-17.html",
        },
        {
            id: "18",
            image: "/assets/images/habaku/img-artikel-18.png",
            title: "Judul Artikel",
            category: "Kategori/Label Artikel",
            published: "12 Feb 2023",
            link_detail: "detail-artikel-18.html",
        },
    ];

    function loadArticles() {
        return {
            search: "",
            pageNumber: 0,
            size: 6,
            total: "",
            myForData: sourceData,

            get filteredArticles() {
                const start = this.pageNumber * this.size,
                    end = start + this.size;

                if (this.search === "") {
                    this.total = this.myForData.length;
                    return this.myForData.slice(start, end);
                }

                //Return the total results of the filters
                this.total = this.myForData.filter((item) => {
                    return item.title
                        .toLowerCase()
                        .includes(this.search.toLowerCase());
                }).length;

                //Return the filtered data
                return this.myForData
                    .filter((item) => {
                        return item.title
                            .toLowerCase()
                            .includes(this.search.toLowerCase());
                    })
                    .slice(start, end);
            },

            //Create array of all pages (for loop to display page numbers)
            pages() {
                return Array.from({
                    length: Math.ceil(this.total / this.size),
                });
            },

            //Next Page
            nextPage() {
                this.pageNumber++;
            },

            //Previous Page
            prevPage() {
                this.pageNumber--;
            },

            //Total number of pages
            pageCount() {
                return Math.ceil(this.total / this.size);
            },

            //Return the start range of the paginated results
            startResults() {
                return this.pageNumber * this.size + 1;
            },

            //Return the end range of the paginated results
            endResults() {
                let resultsOnPage = (this.pageNumber + 1) * this.size;

                if (resultsOnPage <= this.total) {
                    return resultsOnPage;
                }

                return this.total;
            },

            //Link to navigate to page
            viewPage(index) {
                this.pageNumber = index;
            },
        };
    }
</script>

<script>
    function initMap() {
        // Buat objek peta dengan koordinat tengah yang ditentukan
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -6.226715266465861, lng: 106.83340277536963 },
            zoom: 24
        });

        // Tambahkan marker ke posisi tertentu di peta
        var marker = new google.maps.Marker({
            position: { lat: -6.226715266465861, lng: 106.83340277536963 },
            map: map,
            title: 'Kantor Saya'
        });
    }

    // Panggil fungsi initMap() setelah halaman selesai dimuat
    google.maps.event.addDomListener(window, 'load', initMap);
</script>

</html>