@model CMS_Dashboard_v1.Models.ModelForm.ArtikelViewModel
@{
    ViewBag.title = "Delete";
}
<style>
    .border {
        border: 1px solid #ccc; /* menambahkan border 1px solid warna abu-abu */
    }

    .img-container {
        height: 300px; /* mengatur tinggi div agar sesuai dengan tinggi gambar */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; /* mengatur agar gambar yang di luar div tidak terlihat */
    }

        .img-container img {
            object-fit: cover; /* mengatur gambar agar memenuhi seluruh area div */
            max-width: 100%; /* mengatur agar gambar tidak melebihi lebar div */
        }
</style>

<h3 class="fw-bold py-0 mb-4 "><span class="fw-light">Pages / Master Section / </span> @ViewBag.Title</h3>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            @*StartTittle*@
            <div class="card-body">
                @*Content*@
            </div>
            <hr class="my-0" />
            @*EndTittle*@

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <form method="post" enctype="multipart/form-data" asp-action="Delete">

                            <input type="hidden" id="idcontent" asp-for="content_id" readonly>
                            <input type="hidden" id="idsection" asp-for="section_id" readonly>

                            <div class="form-group">
                                <label class="form-label" for="exampleInputText1">Judul Artikel</label>
                                <input type="text" readonly class="form-control" id="NameMenu" asp-for="header" placeholder="Silakan Input Disini">
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="exampleInputText1">Category</label>
                                <input type="text" class="form-control" id="NameMenu" asp-for="title" placeholder="Silakan Input Disini" readonly>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="exampleInputText1">Preview</label>
                                <div class="img-container border">
                                    <img src="@Model.imageurl" alt="gambar">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="exampleInputText1">Description</label>
                                <textarea class="form-control" id="editor" rows="5" asp-for="description" placeholder=" Isi Sebuah Deskripsi Disini">

                                </textarea>
                            </div>

                            <br />
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a asp-controller="Artikel" asp-action="Index" class="btn btn-secondary" style="width:150px">
                                Back to List
                            </a>
                        </form>
                    </div>
                    <div class="col-sm-2"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });

        $(function () {
            var $input = $('#image');
            var $button = $('#disable-input');

            $button.on('click', function () {
                if ($input.prop('disabled')) {
                    $input.prop('disabled', false);
                    $button.removeClass('active');
                } else {
                    $input.prop('disabled', true);
                    $button.addClass('active');
                }
            });
        });
    });

</script>

@section Scripts{
    @{
        //validation without call serverside
        <partial name="_ValidationScriptspartial" />
    }
}

