@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Habaku CMS</title>

<!-- Favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico" />

<!-- Library / Plugin Css Build -->
<link rel="stylesheet" href="~/assets/css/core/libs.min.css" />

<!-- Aos Animation Css -->
<link rel="stylesheet" href="~/assets/vendor/aos/dist/aos.css" />

<!-- Hope Ui Design System Css -->
<link rel="stylesheet" href="~/assets/css/hope-ui.min.css?v=1.2.0" />

<!-- Custom Css -->
<link rel="stylesheet" href="~/assets/css/custom.min.css?v=1.2.0" />

<!-- Dark Css -->
<link rel="stylesheet" href="~/assets/css/dark.min.css" />

<!-- Customizer Css -->
<link rel="stylesheet" href="~/assets/css/customizer.min.css" />

<!-- RTL Css -->
<link rel="stylesheet" href="~/assets/css/rtl.min.css" />

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>


