@model CMS_Dashboard_v1.Models.ModelForm.ContentViewModel
@{
    ViewBag.title = "Create";
}

<h3 class="fw-bold py-0 mb-4 "><span class="fw-light">Pages / Master Section / </span> @ViewBag.Title</h3>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            @*StartTittle*@
            <div class="card-body">
                @*Content*@
            </div>
            <hr class="my-0" />
            @*EndTittle*@

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <form method="post" enctype="multipart/form-data" asp-action="Create">

                            <div class="form-group">
                                <label class="form-label">Menu</label> 
                                <select class="form-select shadow-none" id="menulist" asp-for="menu_id">
                                </select>
                                <span asp-validation-for="menu_id" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Section</label>
                                <select class="form-select shadow-none" id="sectionlist" asp-for="section_id">
                                </select>
                                <span asp-validation-for="section_id" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="exampleInputText1">Header</label>
                                <input type="text" class="form-control" id="NameMenu" asp-for="header" placeholder="Silakan Input Disini">
                                <span asp-validation-for="header" class="text-danger"></span>
                            </div>

                             <div class="form-group">
                                <label class="form-label" for="exampleInputText1">Tittle</label>
                                <input type="text" class="form-control" id="NameMenu" asp-for="title" placeholder="Silakan Input Disini">
                                <span asp-validation-for="title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="exampleInputText1">Image</label>
                                        <input class="form-control" accept="image/jpeg, image/png, image/gif" id="image" asp-for="Photos">
                                        </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="exampleInputText1">URL</label>
                                        <input type="url" class="form-control" asp-for="url" id="url" placeholder="Enter Url">
                                    </div>
                                </div> 
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="exampleInputText1">Description</label>
                                <textarea class="form-control" id="editor" rows="5" asp-for="description" placeholder=" Isi Sebuah Deskripsi Disini">
                                    
                                </textarea>
                            </div>

                            <br />
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a asp-controller="Content" asp-action="Index" class="btn btn-secondary" style="width:150px">
                                Back to List
                            </a>
                        </form>
                    </div>
                    <div class="col-sm-2"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
    //$(document).ready(function () {
    //    $("#sectionlist").append("<option value=''>Silakan Pilih Section</option>");
    //    ClassicEditor
    //    .create(document.querySelector('#editor'))
    //    .catch(error => {
    //        console.error(error);
    //    });
    //});


    $(document).ready(function(){
        // Initialitation id form
        var dropdownSection = $("#sectionlist");
        var dropdownMenu = $("#menulist");
        var inputHeader = $("#NameMenu");

        // value default dropdown
        dropdownMenu.prepend("<option value=''>Silakan Pilih Menu</option>");
        dropdownSection.prepend("<option value=''>Silakan Pilih Section</option>");
        inputHeader.prop('disabled', false);

        
        
        // trigger when dropdown menu change
        dropdownMenu.change(function () {
            debugger;
            var id = dropdownMenu.val();
            DropdownSection(id)
            inputHeader.prop('disabled', false);
            inputHeader.empty();
        });

        // trigger when dropdown section change
        dropdownSection.change(function (){
            debugger;
            var idmenu = dropdownMenu.val();
            var idsection = dropdownSection.val();
            ValidasiContent(idmenu,idsection);
        });

        // Get lIst Dropdown section wirth param id menu
        function DropdownSection(id) {
            debugger
            var obj = { id: id };
            DropdownGeneral("GET", "/Content/GetSectionList", obj, 'sectionlist', 'Section');
        }

        // Get validasi
        function ValidasiContent(idmenu,idsection){
            debugger;
            var obj = {idmenu : idmenu, idsection : idsection}
            $.ajax({
                type : "GET",
                url : "/Content/GetValidasiContent",
                data : obj,
                success: function(response){
                    console.log(response)
                    inputHeader.val(response.header);
                    if (response.header != "") {
                        inputHeader.prop('disabled', true);
                    }
                },failure: function(err){
                    alert(err)
                }
            });
        }

    });
    
</script>

<script src="~/js/javascript.js"></script>
@section Scripts{
    @{
        //validation without call serverside
        <partial name="_ValidationScriptspartial" />
    }
}


